#ast_preview_label {
    font-size: 1.2em;
    margin: 0.5em 0em 0.5em 0em;
}

#ast_content { 
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#ast_loading {
    padding: 2em;
    height: 100%;
}

#ast_no_errors {
    padding: 2em;
}

#ast_loading_text {
    padding-left: 6px;
    margin-bottom: 0.5em;
}

#ast_preview {
    border: 1px solid #cccccc;
    height: 480px;
    margin-bottom: 1em;
}

#ast_splitpane {
    height: 100%;
}

#ast_splitpane a {
    text-decoration: none;
}

#ast_splitpane .ast_hidden {
    display: none;
}

#ast_splitpane .ast_current_checkpoint {
    font-weight: bold;
}

#ast_left_side {
    width: 21%;
    height: 100%;
    overflow: auto;
    float: left;
    padding: 1em;
    margin: 0em;
    border: solid #cccccc;
    border-width: 0 1px 0 0px;
}

#ast_left_side p {
    margin: 0px 0px 0.5em 0px;
}

#ast_left_side ul {
    padding: 0;
    margin: 0;
}

#ast_left_side li {
    list-style-type: none;
    list-style-image: none;
    padding-bottom: 0.5em;
}

#ast_start_message {
    padding: 2em;
    margin: 0em;
}

#ast_right_side {
    width: 79%;
    height: 100%;
    float: right;
    border: none;
    padding: 0em;
    margin: 0em;
}

#ast_preview_header {
    height: 9%;
    padding: 0.5em 0em 0em 0.5em;
    border: solid #aaaaaa;
    border-width: 0px 0px 1px 0px;
}

#ast_left_side, #ast_start_message, 
#ast_right_side, #ast_preview_header,
#ast_right_side iframe {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

#ast_right_side iframe {
    height: 91%;
    width: 100%;
    border: none;
}

#ast_system_error {
    padding: 2em;
}