<script type="text/plain" id="ast_base_path">#BASE_PATH#</script>
<script type="text/plain" id="ast_preview_id">#PREVIEW_ID#</script>

<script type="text/html" id="ast_template_loading">
    <div id="ast_loading">
        <div id="ast_loading_text">Loading</div>
        <img src="#AST_PATH#/ajax-loader-bar.gif" alt="loading ...">
    </div>
</script>

<script type="text/html" id="ast_template_perfect_page">
    <div id="ast_no_errors">
        ActiveStandards did not find any issues with your page.
    </div>
</script>

<script type="text/html" id="ast_template_sys_error">
    <div id="ast_system_error" class="ast_hidden">
        <h1>Quality Check Error</h1>
        <p>Our apologies, an error occurred during the ActiveStandards quality check preview.</p>
        <h2>Details</h2>
        <p>Error status: <span id="ast_status_code"></span></p>
        <p id="ast_error_message"></p>
    </div>
</script>

<script type="text/html" id="ast_checkpoint_li">
    <li><a data-id="#ID#" href="">#NAME#</a></li>
</script>

<script type="text/html" id="ast_template_splitpane">
    <div id="ast_splitpane">
                
        <div id="ast_left_side">
            <div id ="ast_checkpoints_list">
                <p id="ast_error_count"></p>
                <ul id="ast_error_list">
                    <!-- Checkpoint errors get inserted here -->
                </ul>
            </div>
        </div>

        <div id="ast_right_side">
            
            <div id="ast_start_message">
                Click a checkpoint on the left
            </div>
            
            <div id="ast_preview_header" class="ast_hidden">
                <span><a id="page_view" class="toggle" href=''>Switch to browser view</a></span>
                <span><a id="source_view" class="toggle" href=''>Switch to source view</a></span>
                <span id="no_highlight_view" class="toggle">Errors cannot be highlighted for this checkpoint</span>
            </div>
            
            <!-- page with error highlighting is loaded here -->
            <iframe id="ast_preview_iframe" class="ast_hidden" src=""></iframe>

        </div>

    </div>
</script>

<div id="ast_content">

    <label id="ast_preview_label">
        <img src="#AST_PATH#/activestandards.icon.jpg" alt="ast icon">
        ActiveStandards Quality Check
    </label>

    <div id="ast_preview"></div>
    
</div>